<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhZaL0dknGJ77qwdAQp6CioOtplZ5XjnE</string>
	<key>GCM_SENDER_ID</key>
	<string>1088539087147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mediaGalleryWithLogin</string>
	<key>PROJECT_ID</key>
	<string>media-gallery-codesonbytes</string>
	<key>STORAGE_BUCKET</key>
	<string>media-gallery-codesonbytes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088539087147:ios:11e628b9f7cfed7826f56e</string>
</dict>
</plist>